<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragmento :: head"></head>
<body>
    
     <section th:replace="layouts/fragmento :: section"></section>
     
     <header th:replace="layouts/fragmento :: header"></header>
    
    <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Inicio</a></li>
          <li>Conocenos</li>
        </ol>
        <h2>Conocenos</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img th:src="@{/images/about.jpg}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Vida de ecosistemas Terrestres.</h3>
            <p class="fst-italic">
              Esto es un proyecto de desarrollo sostenible elaborado por la ONU donde se pueda aumentar el apoyo mundial a la lucha contra la caza furtiva, el tr&aacute;fico de especies protegidas de flora y fauna y abordar la demanda y la oferta ilegales de productos silvestres.
            </p>
            <h3>Nuestros objetivos</h3>
            <ul>
              <li><i class="bi bi-check-circle"></i> Desarrollar y difundir acciones de investigaci&oacute;n, inventario y monitoreo de las &aacute;reas de alta diversidad biol&oacute;gica , as&iacute; como los estudios socioecon&oacute;micos y antropol&oacute;gicos necesarios para la conservaci&oacute;n de las mismas.</li>
              <li><i class="bi bi-check-circle"></i> Aplicar modelos de planificaci&oacute;n y manejo exitosos para conservar la diversidad biol&oacute;gica, bajo modalidades legales, promoviendo alianzas y estrategias a nivel local, nacional e internacional, para el desarrollo e implementaci&oacute;n de pol&iacute;ticas compatibles con la conservaci&oacute;n de la biodiversidad en &aacute;reas naturales protegidas de manera que se promueven alternativas econ&oacute;micas sostenibles, compatibles con la conservaci&oacute;n y el ambiente.</li>
              
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

   
     <br>
   

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Grupo 4 - Trabajo de Teoria y dise&ntilde;o de base de datos</h2>
         
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="testimonial-item">
              <img th:src="@{/images/melisa.jpeg}" class="testimonial-img" alt="">
              <h3>Melissa </h3>
              <h4>Parra</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Mi nombre es Melissa Alejandra Parra Quispe, tengo 21 a&ntilde;os y soy de la ciudad de Puno.
Actualmente estudio en la Universidad San Martin de Porres en la carrera de Ingenieria de Computaci&oacute;n y SIstemas
 Mi correo es: melissa_parra@usmp.pe
Celular: 976 154 026
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4 mt-lg-0">
              <img th:src="@{/images/kristel.jpeg}" class="testimonial-img" alt="">
              <h3>Kristel</h3>
              <h4>Matinez</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hola! soy Kristel y estudio en la Universidad San Martin de Porres, soy de la filiar Sur.

Cualquier consulta puedes contactarme al correo kristel_martinez@usmp.pe
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img th:src="@{images/beltran.jpeg}" class="testimonial-img" alt="">
              <h3>Beltran</h3>
              <h4>Cachi Tito</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   Hola Soy Beltr&aacute;n soy estudiante de ingenieria, me gusta la musica tengo pasion por tecnologia.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img th:src="@{images/julio.jpeg}" class="testimonial-img" alt="">
              <h3>Julio</h3>
              <h4>Aguero</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Soy Julio Aguero, estudio en la Universidad de San Martin de Porres y actualmente estoy cursando el 5 ciclo.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img th:src="@{images/rey.jpeg}" class="testimonial-img" alt="">
              <h3>Rey</h3>
              <h4>Roger</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Buenos dias me presento soy estudiante de la usmp rey roger delgado miranda curso el 7 ciclo de la fial sur arequipa de la carrera ing computaci&oacute;n  y sistemas
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item mt-4">
              <img th:src="@{/images/diego.jpeg}" class="testimonial-img" alt="">
              <h3>Diego</h3>
              <h4>Chiroque</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Hola soy Diego Chiroque estudio en la universidad de san Mart&iacute;n de porres en la carrera de ing computaci&oacute;n y sistemas
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
    
    
     <footer th:replace="layouts/fragmento :: footer"></footer>
    
</body>
</html>