<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragmento :: head"></head>
<body>

    <section th:replace="layouts/fragmento :: section"></section>
     
     <header th:replace="layouts/fragmento :: header"></header>
     
           
            <div class="container py-4">
	     
	     
	     
	       <div class="card bg-success text-white">
	       
	       
	           <div class="card-header">Tu denuncia a sido enviada correctamente !!</div>
	       
	         
	           <div class="card-body">
	           
	           
	           <h5 class="card-title"><span>Gracias por ser parte de esta gran causa tu denuncia esta salvando muchas vidas</span></h5>
	           
	             <a class="btn btn-outline-light" th:href="@{/index}" role="button">Volver al Inicio</a>
	           
	           </div>
	       
	       
	       </div>
	     
	     
	     
	     </div>
	   
          
     
     
      <footer th:replace="layouts/fragmento :: footer"></footer>

</body>
</html>